body {
    height: 100vh;
    background: url(to\ do\ list\ -video.jpg) no-repeat center;
    background-size: contain;
    display: flex;
    justify-content: center;
    align-items: center;
}

#add-task-container {
    width: 350px;
    padding: 20px 10px;
    background: #fff;
    border-radius: 20px;
    box-shadow: 0 0 3px;
    display: flex;
}

input {
    flex: 5;
    margin-right: 10px;
    border-radius: 10px;
    font-size: 1.2rem;
    padding: 5px;
}

#add-task {
    flex: 1;
    font-size: 1.2rem;
    padding: 5px;
    width: 100px;
    height: 30px;
    background-color: #fff;
    color: red;
    border: red solid 2px;
    border-radius: 10px;
    position: relative;
}

#add-task::before {
    content: "add";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#add-task:hover {
    background-color: red;
    color: #fff;
}

/* تم تحسين الأسلوب للأزرار */

.task {
    width: 100%;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 3px;
    padding: 5px;
    margin-bottom: 5px;
    display: flex;
    justify-content: space-between;
}

.task li {
    list-style: none;
    flex: 4;
    padding: 5px;
    font-size: 1.3rem;
    margin: 10px;
}

.task button {
    flex: 1;
    width: 30px;
    height: 30px;
    border-radius: 10px;
    background-color: #fff;
    cursor: pointer;
}


.task .checkTask {
    color: brown;
    border: brown solid 2px;
    font-size: 1.3rem;
    position: relative;
    background-color: #fff;
    flex: 1;
    padding: 5px;
    width: 100px;
    height: 30px;
    border-radius: 10px;
    text-align: center;
}

.task .checkTask::before {
    content: "done";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.task .checkTask:hover {
    background-color: brown;
    color: #fff;
}


.task .deleteTask {
    color: black;
    border: black solid 2px;
    font-size: 1.3rem;
    position: relative;
    background-color: #fff;
    flex: 1;
    padding: 5px;
    width: 100px;
    height: 30px;
    border-radius: 10px;
    text-align: center;
}

.task .deleteTask::before {
    content: "delete";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.task .deleteTask:hover {
    background-color: black;
    color: #fff;
}
